body {
  background-color: #e4dfc5;
}

      @import url('//fonts.gstatic.com/s/dancingscript/v10/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2');
      
      h1 {
        font-family: 'Dancing%20Script';
        font-weight: 500;
        line-height: 1.1;
        color: #48ca3b;
      }